body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: sans-serif;
}

#wrapper {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
}

#borderimg {
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;
  padding: 15px;
  border: 10px solid;
  border-image: url("border.png") 30 round;
}


.image300 {
  height: 300px;
}

.specialborder {
  border: 10px solid;
  border-image: url("border.png") 30 round;
}

ul {
  list-style-image: url("icon.png");
}